@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
:root{
    --white: #f1f1e6;
    --blue: #132B3C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(180deg, rgba(17,177,174,1) 0%, rgba(0,106,126,1) 100%);
    color: var(--white);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: 12px;
    padding: 30px;
    background: transparent;
    backdrop-filter: blur(30px);
    --webkit-backdrop-filter: blur(30px);
    box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

form input[type="text"]{
    background: transparent;
    border: none;
    /*border-bottom: 1px solid var(--white);*/
    padding: 10px;
    box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}



form .boton{
    display: flex;
    gap: 8px;
    background: #005467;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

form .boton:hover{
    transform: scale(1.1);
    background: #132b3c;
}

form input[type="button"], [type="reset"]{
    display: inline-flex;
    background: transparent;
    border: none;
    color: var(--white);
}

input .boton input[type="reset"]{

}


